body{
   min-width:620px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:620px;            /* As IE6 ignores !important it will set width as 1000px; */
}

html body div.chart-title {
  display: none;
}

label.control-label{
  margin-bottom:6;
  font-size:1em;
}

div.checkbox{
  margin-top:0;
}

div.col-xs-3{
  padding-left:7%;
  padding-right:0%;
}

div.section.sidebar{
  padding-left:20px;
  padding-right:20px;
}

#myhead{
  padding-top:3.5%;
  padding-bottom:12%;
}

p{
  margin-bottom:2px;
}

h5{
  margin-top:0px;
}

#myfilter5{
  margin-bottom:20px;
}


#myinfo{
  margin-top:3%;
  margin-bottom:3%;
}

#section1{
  margin-right:0;
}


#column{
  margin: auto;
  width: 50%;
  max-width: 900px;
  min-width:550px;
}

#help{
  margin: auto;
  width: 50%;
  max-width: 650px;
}

div.chart-stage{
  padding-bottom:10px;
}

div.opening{
  padding-left:5%;
  padding-right:5%;
}

div.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
div.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
div.tooltip:hover .tooltiptext {
  visibility: visible;
}