

label.control-label{
  margin-bottom:6;
  font-size:1em;
}

div.checkbox{
  margin-top:0;
}

div.col-xs-3{
  padding-left:7%;
  padding-right:0%;
}

div.section.sidebar{
  padding-left:20px;
  padding-right:20px;
}

#myhead{
  padding-top:3.5%;
  padding-bottom:12%;
}

p{
  margin-bottom:10px;
}

h5{
  margin-top:10px;
}

#myfilter5{
  margin-bottom:12px;
}


#myinfo{
  margin-top:3%;
  margin-bottom:3%;
}

#section1{
  margin-right:0;
}


#help{
  margin: auto;
  width: 50%;
  max-width: 650px;
}

div.chart-stage{
  padding-bottom:20px;
  padding-top:20px;
}

div.opening{
  padding: 15px 5%;
}